*.1.gz
*.a
*.o
*.pyc

config.h
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
CMakeFiles
install_manifest.txt
Makefile
Testing

src/hatari
src/tos.img

src/cpu/build68k
src/cpu/cpudefs.c
src/cpu/cpuemu_*.c
src/cpu/cpustbl.c
src/cpu/cputbl.h
src/cpu/gencpu

tests/debugger/test-breakcond
tests/debugger/test-evaluate
tests/debugger/test-symbols
tests/unit/test-file

tools/hmsa/hmsa
tools/debugger/gst2ascii

python-ui/conftypes.py

doc/doxygen/html

# These are for XCode on Mac OS X:
build/*
Hatari.build/*
Release/*
Debug/*

# Created by the Eclipse IDE (CDT)
.cproject
.project
.settings/
