# Makefile configuration for Hatari.
# This is a sample configuration for MinGW used as a native compiler
# under windows or as a cross compiler under linux.
# Rename this file to Makefile.cnf before you start compiling.
#
# You can change BUILD_HOST to :
#  windows : use mingw as a native compiler under windows
#  linux : use mingw as a cross compiler for windows under linux
#
# If you choose BUILD_HOST=linux, you should adapt MINGW_PREFIX to match
# the naming used by your distribution.


# Change this to windows or linux, depending on the OS used to build Hatari
BUILD_HOST = linux

ifeq ($(BUILD_HOST),linux)
	MINGW_PREFIX = i586-pc-mingw32-
else
	MINGW_PREFIX =
endif


SYS_WINDOWS = 1

# Set the C compiler (e.g. gcc)
CC = $(MINGW_PREFIX)gcc

# What warnings to use
WARNFLAGS = -Wmissing-prototypes -Wstrict-prototypes -Wsign-compare \
  -Wbad-function-cast -Wcast-qual  -Wpointer-arith \
  -Wall -Wwrite-strings # -Wshadow -Wcast-align -Werror

# Set flags passed to the compiler (e.g. optimization flags)
CFLAGS := -g -O2 $(WARNFLAGS)

# Set flags passed to the preprocessor (e.g. -I<include dir>)
CPPFLAGS =

# Additional libraries and linker flags:
LIBS = -lz -lws2_32
LDFLAGS = -mwindows

# Ranlib - for generating an index of an archive
RANLIB = $(MINGW_PREFIX)ranlib


# The native C compiler.
# This is normaly the same as $(CC) unless you are using a cross compiler.
HOSTCC = $(CC)

# Native C compiler flags:
HOSTCFLAGS = -g -O -Wall

# Native linker flags:
HOSTLDFLAGS =

# The windres binary
WINDRES = $(MINGW_PREFIX)windres


# SDL-Library configuration (compiler flags and linker options) - you normally
# don't have to change this if you have correctly installed the SDL library!
#
ifeq ($(BUILD_HOST),linux)
	# Look for include in sys-root
	SDL_CFLAGS ?= -I=/mingw/include/SDL
else
	SDL_CFLAGS ?= -I/mingw/include/SDL
endif
SDL_LIBS ?= -lmingw32 -lSDLmain -lSDL


# Here you can define the default data directory for Hatari.
# The emulator looks there for the default TOS image etc.
# For example you can use the local directory with "." or if you want
# a system-wide installation, use something like "/usr/share/hatari".
DATADIR = .

# In this folder, Hatari searches the global configuration file.
# /etc or /usr/local/etc is a good place for this.
CONFDIR = /windows

# The executable will be installed in BINDIR
BINDIR = .


# Program used for "make install"
INSTALL = install -c
INSTALL_PROGRAM = $(INSTALL) -s
INSTALL_DATA = $(INSTALL) -m 644
