[Desktop Entry]
Type=Application
Name=Hatari UI
Comment=Gtk UI for Hatari (Atari ST/STE/TT/Falcon emulator)
Comment[fr]=Interface GTK pour Hatari (émulateur Atari ST/STE/TT/Falcon)
Exec=hatariui
Icon=hatari
StartupNotify=true
Categories=Game;Emulator;
Keywords=Emulator;Atari;Atari ST;Atari Falcon;
Terminal=false
