[Desktop Entry]
Version=1.0
Type=Application
Name=Hatari UI
Comment=Gtk UI for Hatari (Atari ST/STE/TT/Falcon emulator)
Exec=hatariui
Icon=hatari
StartupNotify=true
Categories=Game;Emulator;
Keywords=Emulator;Atari;Atari ST;Atari Falcon;
Terminal=false
