# These config options are similar to ones used by the Aranym emulator.
# Edit them to suit your kernel before using this config!!!
#
# Documentation on how to build m68k Linux kernel, ramdisk and rootfs
# for use with Hatari are in the "m68k-linux.txt" file, along with
# notes about suitable Hatari options for them.

[LILO]

# Kernel file name:
#   https://en.wikipedia.org/wiki/Vmlinux
Kernel = vmlinuz

# Kernel symbols file name, to autoload symbols info for debugging
Symbols =

# Initial ramdisk (initramfs since 2.6 kernels):
#   https://www.kernel.org/doc/Documentation/filesystems/ramfs-rootfs-initramfs.txt
#   https://en.wikipedia.org/wiki/Initial_ramdisk
#   https://wiki.debian.org/initramfs
#   https://wiki.ubuntu.com/Initramfs
# Relevant if kernel needs to load modules or do other things
# (e.g. uncrypting) to mount actual root file system
Ramdisk =

# Kernel command line arguments, see:
#   https://www.kernel.org/doc/Documentation/m68k/kernel-options.txt
#
# Specifying partition and partition table:
#   https://www.kernel.org/doc/Documentation/block/cmdline-partition.txt
#   (CONFIG_BLK_CMDLINE_PARSER, CONFIG_CMDLINE_PARTITION,
#    CONFIG_ATARI_PARTITION, CONFIG_MSDOS_PARTITION)
#
# Platform independent arguments:
# - console=<device> -- device for interactive console
#   tty -- onscreen virtual terminal      (CONFIG_VT_CONSOLE)
# - root=<device>, root file system device:
#   /dev/ram    -- ramdisk                (CONFIG_BLK_DEV_RAM)
#   /dev/fd0    -- "--disk-a <image>"     (CONFIG_ATARI_FLOPPY)
#   /dev/fd1    -- "--disk-b <image>"
#   /dev/hda<n> -- "--ide-master <image>" (CONFIG_BLK_DEV_FALCON_IDE)
#   /dev/hdb<n> -- "--ide-slave <image>"
#   /dev/sda<n> -- "--ide-master <image>" (CONFIG_PATA_FALCON, Linux v5.4+)
#                  "--scsi 0=<image>"     (CONFIG_ATARI_SCSI)
#   /dev/sdb<n> -- "--ide-slave <image>"
#                  "--scsi 1=<image>"
# - ro/rw -- whether to mount rootfs read-only or writable
# - scsi_mod.scan=sync -- disable async SCSI scanning
#   (CONFIG_SCSI_SCAN_ASYNC)
# - devtmpfs.mount=1 -- mount devtmpfs at /dev after kernel mounts
#   root filesystem. Does not affect initramfs based mounting
#   (CONFIG_DEVTMPFS_MOUNT)
# - loglevel=<1-15> -- debug output logging: default=7, quiet=4
# - initcall_debug -- lot of debug output from early kernel init
#
# Atari specific arguments:
# - video=atafb:<mode> -- Atari framebuffer / VT, with mode one of:
#   - stlow, stmid, sthigh -- all machines
#   - ttlow, ttmid, tthigh -- TT-only
#   - vga2, vga4, vga16, vga256, falh2, falh16 -- Falcon-only
#     (CONFIG_FB_ATARI)
# - external:<spec> -- Hatari VDI mode, see m68k/kernel-options.txt
#     (CONFIG_FB_SIMPLE)
# - debug=<output> -- select kernel debug boot messages output:
#   - par   -- parallel port, "--printer /dev/stderr" shows messages
#   - midi  -- MIDI, "--midi-out /dev/stderr" shows messages
#              (if MIDI-in is also enabled)
#   - ser1  -- ST-MFP, "--rs232-out serial-out.txt"
#              (if RS232-in is also enabled)
#   - ser2  -- SCC, "--scc-b-out serial-out.txt"
#   - ser   -- serial auto-select, "ser2" on Falcon, "ser1" on other machines
#   - nfcon -- NatFeats STDERR (CONFIG_NFCON), "--natfeats on" shows messages
# - stram_pool=<size>, bytes set aside for ST-RAM allocs (default=1MB),
#   relevant only if kernel is loaded to TT-RAM

Args = video=atafb:sthigh console=tty

# Whether to load kernel to TT-RAM when there's enough of it
# Note: only kernels smaller than 8MB can be run from ST-RAM
KernelToFastRam = FALSE

# Whether to load ramdisk to TT-RAM when there's enough of it
# (most ramdisks are too large to fit into ST-RAM)
RamdiskToFastRam = TRUE

# Whether to exit emulator when Linux resets on reboots
# - automatically disabled unless Hatari "--natfeats on" option is used
HaltOnReboot = TRUE
