
body
{
  color:#FFFFFF;
  background:#000000 url(backgnd.png);
  font-family:Times,serif;
  margin-bottom:8ex;
}

p, ul
{
  color:#FFFFFF;
  background:transparent;
}

a:link
{
  color:#D0FF00;
  background:transparent;
}

a:visited
{
  color:#A0B000;
  background:transparent;
}

a:hover
{
  color:#C0D000;
  background:transparent;
}

a:active
{
  color:#FFFF00;
  background:transparent;
}

.center
{
  text-align:center;
}

h1
{
  margin-top:2ex;
  margin-bottom:1px;
  text-align:center;
  color:#FFFF00;
  background:transparent;
  font:230% serif;
}

h2
{
  margin-top:2ex;
  margin-bottom:0.5ex;
  color:#FFF080;
  background:transparent;
  font:150% serif;
}

h3
{
  font:120% serif;
  color:#FFFFF0;
  background:transparent;
}


div.menu
{
  border-style:outset;
  border-width:2px;
  border-color:#808080;
  overflow:hidden;
  margin-left:0.5em;  margin-right:0em;
  margin-top:2ex;  margin-bottom:1ex;
  padding:1ex;
  text-align:left;
  color:#D0FF00;
  background:#004030;
  float:right;
}

div.menutitle
{
  text-align:center;
}

a.menuentry, div.menuentry
{
  display:block;
  margin-left:0em;  margin-right:0em;
  margin-top:1ex;  margin-bottom:1ex;
  padding-left:0.5em;
  padding-right:0.5em;
  text-align:center;
  border-style:outset;
  border-width:2px;
  border-color:#A0A0A0;
  background:#003040;
  min-width:128px;
}

div.menuentry
{
  color:#E04080;
}

a.menuentry:link
{
  color:#D0FF00;
  background:#003040;
}

a.menuentry:visited
{
  color:#A0B000;
  background:#003040;
}

a.menuentry:hover
{
  color:#C0D000;
  background:#005060;
}

a.menuentry:active
{
  color:#FFFF00;
  background:#006070;
}

div.menusponsor
{
  padding-top:2ex;
  text-align:center;
  color:#FFFFFF;
}


.scrshotlow
{
  text-align:center;
  float:left;
  padding-left:1%; padding-right:1%;
  padding-top:4px; padding-bottom:16px;
  margin:0px;
  width:432px;
  height:350px;
}

